<h1 class="text-center">Permitted Users</h1>

<table class="table table-striped table-hover mx-auto" style="width: 40vw">
  <div class="button-row">
    <%= link_to "New User", new_user_path, class:"btn btn-outline-success" %>
    <%= link_to "Patient Listing", regis_path, class:"btn btn-outline-primary" %>
  </div>
  <thead>
    <tr>
      <th class="col col-md-2">Name</th>
      <th class="col col-md-2">Email</th>
      <th class="col col-md-1">Logged in?</th>
    </tr>
  </thead>
  <tbody>
    <% @users.all.sort_by{ |h| h[:name] }.each do |user| %>
    <tr>
      <td><%= link_to_unless_current user.name, user_path(user.id) %></td>
      <td><%= user.email %></td>
      <td><%= user.name == current_user.name ? "Yes" : "No" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

