<%= form_for([@chart.regi, @chart]) do |f| %>
  <% if @chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chart.errors.count, "error") %> prohibited this chart from being saved:</h2>

      <ul>
      <% @chart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tDate, 'Updated on:' %><br />
    <%= f.date_field :tDate, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :soap, 'S.O.A.P.' %><br />
    <%= f.text_area :soap, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :acuList, 'Acupoints Used:' %><br />
    <%= f.text_field :acuList, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :cMedList, 'Chinese Medicines:' %><br />
    <%= f.text_field :cMedList, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :cForList, 'Formulae:' %><br />
    <%= f.text_field :cForList, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :oTreats, 'Other Treatments:' %><br />
    <%= f.text_field :oTreats, class:"form-control" %>
  </div>
  <%= f.number_field :regi_id, value: @regi.id, type:'hidden' %>
  <br>
  <div class="actions">
    <%= f.submit class:'btn btn-dark' %>
  </div>
<% end %>
