<%= form_with(model: [@regi, @chart]) do |f| %>
  <% if @chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chart.errors.count, "error") %> prohibited this chart from being saved:</h2>

      <ul>
      <% @chart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tDate, 'Updated on:' %><br />
    <%= f.date_field :tDate, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :soap, 'S.O.A.P.' %><br />
    <%= f.text_area :soap, value:
"
Subjective
Chief Complaint (CC): Examples - chest pain / decreased appetite / shortness of breath.
History of Present Illness (HPI): Example - 47-year old female presenting with abdominal pain.
OLDCARTS: Onset / Location / Duration / Characterization / Alleviating / and Aggravating factors / Radiation / Temporal factor Severity
History: Medical history / Surgical history / Family history / Social History
Review of Systems (ROS): General / Gastrointestinal / Musculoskeletal
Current Medications / Allergies Example - Motrin 600 mg orally every 4 to 6 hours for 5 days
Objective
Vital signs / Physical exam findings / Laboratory data / Imaging results / Other diagnostic data / Recognition and review of the documentation of other clinicians
Assessment
Problem: List the problem in order of importance
Differential Diagnosis: Example: Problem 1 / Differential Diagnoses / Discussion / Plan for problem 1 (described in the plan below). Repeat for additional problems
Plan
State of current/future testing / Medication needed / Specialist referral / Patient counseling
"
    class:"form-control text-nowrap style="width: 8rem;" %>
  </div>
  <div class="field">
    <%= f.label :acuList, 'Acupoints Used:' %><br />
    <%= f.text_field :acuList, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :cMedList, 'Chinese Medicines:' %><br />
    <%= f.text_field :cMedList, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :cForList, 'Formulae:' %><br />
    <%= f.text_field :cForList, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :oTreats, 'Other Treatments:' %><br />
    <%= f.text_field :oTreats, class:"form-control" %>
  </div>
  <%= f.number_field :regi_id, value: @regi.id, type:'hidden' %>
  <br>
  <div class="actions">
    <%= f.submit class:'btn btn-dark' %>
  </div>
<% end %>
