<%= form_with(model: [@regi, @chart]) do |f| %>
  <% if @chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chart.errors.count, "error") %> prohibited this chart from being saved:</h2>

      <ul>
      <% @chart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col col-md-2">
      <b>Updated on</b>
      <%= f.date_field :tDate, class:"form-control border-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <b>Acupoints Used</b>
      <%= f.text_field :acuList, class:"form-control border-primary" %>
    </div>
    <div class="col">
      <b>Chinese Medicines</b>
      <%= f.text_field :cMedList, class:"form-control border-primary" %>
    </div>
    <div class="col">
      <b>Formulae</b>
      <%= f.text_field :cForList, class:"form-control border-primary" %>
    </div>
    <div class="col">
      <b>Other Treatments</b>
      <%= f.text_field :oTreats, class:"form-control border-primary" %>
    </div>
  </div>

  <div class="col">
    <b>S.O.A.P.</br>
    <%= f.text_area :soap, class:"form-control border-primary", style:"height: 100px" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Update", class:'btn btn-outline-primary btn-sm col-md-1' %>
<% end %>
  <%= link_to 'Retun', regi_charts_path(@regi), class: 'btn btn-outline-info btn-sm col-md-1' %>
  <%= button_to "Delete", [@regi,@chart], method: :delete, class: "btn btn-outline-danger btn-sm col-md-1 mt-2", form: { data: { turbo_confirm: "Are you sure?" } } %>
  </div>
