<h1 class="text-center">Patient charts</h1>
<%= render 'layouts/identifier' %>
<%= link_to 'Patient Listing', root_path, class:"btn btn-outline-primary" %>
<%= link_to 'New Chart', new_regi_chart_path, class: "btn btn-outline-success" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th style="width:105px">Updated on</th>
      <th>S.O.A.P.</th>
      <th>Acupoints</th>
      <th>Medicines</th>
      <th>Formulae</th>
      <th>Other</th>
    </tr>
  </thead>
  </tbody>

    <% @regi.charts.all.sort_by{ |h| h[:tDate] }.reverse.each do |chart| %>
      <tr style="height:15px">
        <td><%= link_to chart.tDate, regi_chart_path(@regi,chart)  %></td>
        <td style="overflow: hidden"><%= chart.soap %></td>
        <td><%= chart.acuList %></td>
        <td><%= chart.cMedList %></td>
        <td><%= chart.cForList %></td>
        <td><%= chart.oTreats %></td>
      </tr>
    <% end %>
  </tbody>
</table>