<h1 class="text-center">Patient charts</h1>

<%= render 'layouts/identifier' %>
<%= link_to 'Patient Listing', root_path, class:"btn btn-dark" %>

<table class="table table-striped table-hover">
  <tr>
    <th>Updated on</th>
    <th>S.O.A.P.</th>
    <th>Acupoints</th>
    <th>Medicines</th>
    <th>Formulae</th>
    <th>Other Cares</th>
    <th></th>
  </tr>

<% @regi.charts.each do |chart| %>
  <tr>
    <td><%= chart.tDate %></td>
    <td><%= link_to chart.soap, regi_chart_path(@regi,chart) %></td>
    <td><%= chart.acuList %></td>
    <td><%= chart.cMedList %></td>
    <td><%= chart.cForList %></td>
    <td><%= chart.oTreats %></td>

    <% @regi_id = chart.regi.id %>
    <% @chart_id = chart.id %>

    <td>
      <%= link_to 'Insurance', [chart.regi, chart], class:"btn btn-success btn-sm" %>
    </td>
  </tr>
<% end %>
</table>

<% @regi_id %>
<% @chart_id %>

<%= link_to 'New Chart', new_regi_chart_path(params[:regi_id]), class: "btn btn-info" %>
