<p id="notice"><%= notice %></p>

<%= render 'layouts/identifier' %>
<br>

<p>
  <b>Updated on:</b>
  <%= @chart.tDate %>
</p>

<p>
  <b>S.O.A.P.:</b>
  <%= @chart.soap %>
</p>

<p>
  <b>Acupoints Used:</b>
  <%= @chart.acuList %>
</p>

<p>
  <b>Chinese MedicinesCmedlist:</b>
  <%= @chart.cMedList %>
</p>

<p>
  <b>Fromulae:</b>
  <%= @chart.cForList %>
</p>

<p>
  <b>Other Treatments:</b>
  <%= @chart.oTreats %>
</p>

<%= link_to 'Edit', edit_regi_chart_path(@chart.regi, @chart), class: 'btn btn-warning' %>
<%= link_to 'Charts', regi_charts_path(@chart.regi), class: 'btn btn-success' %>
