<p id="notice"><%= notice %></p>

<%= render 'layouts/identifier' %>

<%= render @chart %>

<%= link_to 'Edit', edit_regi_chart_path(@chart.regi, @chart), class: 'btn btn-warning' %>
<%= link_to 'Charts', regi_charts_path(@chart.regi), class: 'btn btn-success' %>
