<div class='container'>
<h1>Patient Information</h1>

<div>
  <%= render 'layouts/identifier' %>
</div>
<br>
<div>
  <%= link_to 'Patient Listing', root_path, class:"btn btn-dark" %>
</div>
<br>

<table class="table table-striped table-hover">
  <tr>
    <th>Updated On:</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Marital Status</th>
    <th>Contact Info</th>
    <th colspan=3></th>
  </tr>

  <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.vDate %></td>  
      <td><%= patient.height %></td>
      <td><%= patient.weight %></td>
      <td><%= patient.mStat %></td>
      <td>
        <%= patient.street %><%= ', ' if patient.street? %>
        <%= patient.city %>
        <%= patient.state %>
        <%= patient.zip %>
        <%= 'C:' if patient.cell? %><%= patient.cell %>
        <%= 'H:' if patient.home? %><%= patient.home %>
        <%= 'W:' if patient.work? %><%= patient.work %>
        <%= 'E:' if patient.email? %><%= patient.email %>
      </td>
      
    </tr>
  <% end %>
  </table>

  <table class="table table-hover">
  <tr>
    <th>Complaints</th>
    <th>Date Onset</th>
    <th>Pain Scale 1-10</th>
    <th>PCP Name</th>
    <th>Health Issues</th>
    <th>Preg?</th>
    <th>  </th>
    <th>  </th>
    <th>  </th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td>
      <%= patient.com1 %><%= ', ' if patient.com2? %>
      <%= patient.com2 %><%= ', ' if patient.com3? %>
      <%= patient.com3 %>
    </td>
    <td><%= patient.dOnset %></td>
    <td><%= patient.painScale %></td>
    <td><%= patient.pcpNm %></td>
    <td>
      <%= patient.diseases %><%= ', ' if patient.oDis? %>
      <% patient.oDis %>
    </td>
    <td><%= patient.preg %></td>
    <td><% patient.regi %></td>
    <td>
      <%= link_to 'Show', [patient.regi, patient], class:'btn btn-primary' %>
    </td>
    <td>
      <%= link_to 'Edit', edit_regi_patient_path(patient.regi, patient), class:'btn btn-warning' %>
    </td>
    <td>
      <%= link_to 'Delete', [patient.regi, patient], class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New Record', new_regi_patient_path(params[:regi_id]), class:'btn btn-info' %>

</div>