<h1 class="text-center">Patient Information</h1>
<%= render 'layouts/identifier' %>

<%= paginate @patients %>

<%= link_to 'New Record', new_regi_patient_path, class:'btn btn-outline-success' %>
<%= link_to 'Patient Charts', regi_charts_path, class:"btn btn-outline-info" %>
<%= link_to 'Patient Listing', regis_path, class:"btn btn-outline-primary" %>

<table class="table table-striped table-hover">
  <thead>
   <tr>
      <th style="width:105px">Updated on</th>
      <th>Contact Info</th>
      <th>Weight</th>
      <th>Complaints</th>
      <th>Onset/Pain</th>
      <th>PCP</th>
      <th>Health History</th>
      <th></th>
    </tr>
  </thead>
  </tbody>

    <% @regi.patients.all.sort_by{ |h| h[:vDate]}.reverse.each do |patient| %>
      <tr>
        <td>
          <%= link_to patient.vDate, regi_patient_path(@regi,patient) %>
        </td>  
        <td>
          <%= patient.street %><%= ', ' if patient.street? %>
          <%= patient.city %>
          <%= patient.state %>
          <%= patient.zip %>
          <%= 'C:' if patient.cell? %><%= patient.cell %>
          <%= 'H:' if patient.home? %><%= patient.home %>
          <%= 'W:' if patient.work? %><%= patient.work %>
          <%= 'E:' if patient.email? %><%= patient.email %>
        </td>
        <td>
          <%= patient.weight %>
        </td>
        <td>
          <%= patient.com1 %><%= ', ' if patient.com2? %>
          <%= patient.com2 %><%= ', ' if patient.com3? %>
          <%= patient.com3 %>
        </td>
        <td>
          <%= patient.dOnset %><%= '/Pain: ' if patient.painScale? %>
          <%= patient.painScale %>
        </td>
        <td><%= patient.pcpNm %></td>
        <td>
          <%= patient.diseases %><%= ', ' if patient.oDis? %>
          <%= patient.oDis %><%= ', Preg' if patient.preg == 'Yes' %>
        </td>
        <td><% patient.regi %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @patients %>
