<p id="notice"><%= notice %></p>

<p>
  <b>Vdate:</b>
  <%= @patient.vDate %>
</p>

<p>
  <b>Mstat:</b>
  <%= @patient.mStat %>
</p>

<p>
  <b>Height:</b>
  <%= @patient.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @patient.weight %>
</p>

<p>
  <b>Street:</b>
  <%= @patient.street %>
</p>

<p>
  <b>City:</b>
  <%= @patient.city %>
</p>

<p>
  <b>State:</b>
  <%= @patient.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @patient.zip %>
</p>

<p>
  <b>Cell:</b>
  <%= @patient.cell %>
</p>

<p>
  <b>Home:</b>
  <%= @patient.home %>
</p>

<p>
  <b>Work:</b>
  <%= @patient.work %>
</p>

<p>
  <b>Email:</b>
  <%= @patient.email %>
</p>

<p>
  <b>Referred:</b>
  <%= @patient.referred %>
</p>

<p>
  <b>Com1:</b>
  <%= @patient.com1 %>
</p>

<p>
  <b>Com2:</b>
  <%= @patient.com2 %>
</p>

<p>
  <b>Com3:</b>
  <%= @patient.com3 %>
</p>

<p>
  <b>Donset:</b>
  <%= @patient.dOnset %>
</p>

<p>
  <b>Painscale:</b>
  <%= @patient.painScale %>
</p>

<p>
  <b>Dlost:</b>
  <%= @patient.dLost %>
</p>

<p>
  <b>Drestd:</b>
  <%= @patient.dRestd %>
</p>

<p>
  <b>Conset:</b>
  <%= @patient.cOnset %>
</p>

<p>
  <b>Better:</b>
  <%= @patient.better %>
</p>

<p>
  <b>Worse:</b>
  <%= @patient.worse %>
</p>

<p>
  <b>Odrs:</b>
  <%= @patient.oDrs %>
</p>

<p>
  <b>Odrswhen:</b>
  <%= @patient.oDrsWhen %>
</p>

<p>
  <b>Pcpnm:</b>
  <%= @patient.pcpNm %>
</p>

<p>
  <b>Hosp:</b>
  <%= @patient.hosp %>
</p>

<p>
  <b>Hwhen:</b>
  <%= @patient.hWhen %>
</p>

<p>
  <b>Diaggiven:</b>
  <%= @patient.diagGiven %>
</p>

<p>
  <b>Diagwhere:</b>
  <%= @patient.diagWhere %>
</p>

<p>
  <b>Aqb4:</b>
  <%= @patient.aqB4 %>
</p>

<p>
  <b>Aqrist:</b>
  <%= @patient.aqrist %>
</p>

<p>
  <b>Aqwhere:</b>
  <%= @patient.aqWhere %>
</p>

<p>
  <b>Diseases:</b>
  <%= @patient.diseases %>
</p>

<p>
  <b>Odis:</b>
  <%= @patient.oDis %>
</p>

<p>
  <b>Injsurg:</b>
  <%= @patient.injSurg %>
</p>

<p>
  <b>Medtaken:</b>
  <%= @patient.medTaken %>
</p>

<p>
  <b>Lastprd:</b>
  <%= @patient.lastPrd %>
</p>

<p>
  <b>Preg:</b>
  <%= @patient.preg %>
</p>

<p>
  <b>Pregwks:</b>
  <%= @patient.pregWks %>
</p>

<p>
  <b>Regi:</b>
  <%= @patient.regi %>
</p>


<%= link_to 'Edit', edit_regi_patient_path(@patient.regi, @patient) %> |
<%= link_to 'Back', regi_patients_path(@patient.regi) %>
