<div id="<%= dom_id regi %>">
  <p>
    <strong>Last Name:</strong>
    <%= regi.lastNm %>
  </p>

  <p>
    <strong>First Name:</strong>
    <%= regi.firstNm %>
  </p>

  <p>
    <strong>M.Initial:</strong>
    <%= regi.init %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= regi.gender %>
  </p>

  <p>
    <strong>Date of Birth:</strong>
    <%= regi.dob %>
  </p>

</div>
