<h1>Patient Regitration</h1>

<%= link_to "New Patient", new_regi_path, class: "btn btn-dark" %>

<table class="table table-striped table-hover">

  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>M. Initial</th>
    <th>Gender</th>
    <th>Date of Birth</th>
    <th colspan=4></th>
  </tr>

<% @regis.each do |regi| %>
  <tr>
    <td><%= regi.lastNm %></td>
    <td><%= regi.firstNm %></td>
    <td><%= regi.init %></td>
    <td><%= regi.gender %></td>
    <td><%= regi.dob %></td>

    <% regi.id %>

    <td><%= link_to 'Edit', edit_regi_path(regi), class: "btn btn-secondary btn-sm" %> 
    <td><%= link_to 'Destroy', regi, class: "btn btn-warning btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Records', regi_patients_path(regi.id), class: "btn btn-primary btn-sm" %></td> 
    <td><%= link_to 'Charts', regi_charts_path(regi.id), class: "btn btn-success btn-sm" %></td>

  </tr>
  <% end %>
</table>




