<div class='container'>

<h1 class="text-center">Patient Listing</h1>

<%= link_to "New Patient", new_regi_path, class: "btn btn-outline-info" %>
<br><br>

<table class="table table-striped table-hover">

  <tr>
    <th class="col-md-2">Last Name</th>
    <th class="col-md-2">First Name</th>
    <th class="col-md-2">M. Initial</th>
    <th class="col-md-2">Gender</th>
    <th class="col-md-2">Date of Birth</th>
    <th class="col-md-2"></th>
  </tr>

<% @regis.all.sort_by{ |h| h[:lastNm] }.each do |regi| %>

  <tr>
    <td><%= link_to regi.lastNm, regi_path(regi.id) %></td>
    <td><%= regi.firstNm %></td>
    <td><%= regi.init %></td>
    <td><%= regi.gender %></td>
    <td><%= regi.dob %></td>

    <% regi.id %>
    
    <td>
    <%= link_to 'Records', regi_patients_path(regi.id), class: "btn btn-outline-primary btn-sm col-md-5" %>
    <%= link_to 'Charts', regi_charts_path(regi.id), class: "btn btn-outline-success btn-sm col-md-5" %>
    </td>

  </tr>
  <% end %>
</table>

</div>